*{box-sizing:border-box;margin:0;padding:0;align-items:center;flex-direction:column;border:none;font-weight:bold;border-radius:0.9vw;}
	body{width:100vw;height:100vh;display:flex;justify-content:center;}
		.td{width:51vw;min-height:39vw;background-color:#60798F;color:white;padding:3vw;display:flex;justify-content:space-around;border-radius:1.2vw;}
			#ttl, #plv option,.td{text-align:center;}
			#ttl h1{color:#2E343A; font-color:#BF8B78;font-size:6vw;font-family:Times New Romam, serif;}
			#ttl h4{color:#423C37;font-family:Comic sans MS, sans-serif;}
			svg{width:30vw;height:15vw;}
			#plv{display:flex;flex-direction:row;}
			.gll{stroke:#554C47;stroke-width:27; fill:none;}
			.enf{stroke:#BF8B78; stroke-width:12; fill:none;}
			button{width:18vw;height:3vw;padding:0.72vw 0;background-color:#6D635B;color:#978779;cursor:pointer;font-size:1.5vw;border-radius:12px;}
			#plv select:hover,button:hover{opacity:0.6;}
			.err{color:red;}
			#plv select{padding:0 1.5vw;border:solid 0.9vw #576E82;background-color:#576E82;font-size:1.5vw;}
			#plv{color:#48665A;}
			#txt{color:#423D2C;}
			#txt input{width:21vw;height:3vw;font-size:3vw;text-align:center;background-color:#7CA2C4;color:#76BFFF; margin:1vw 0;}
			.vnc{color:#76BFFF;}
		
